html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {  /*color plan*/
--dark-bg : #1b1a17;
--light-bg : #1f1e1b;
--mark-text1 : #a35709;
--mark-text2 : #ff8303;
--text : #f0e3ca;
}

header {
    background-color: var(--dark-bg);
}

div.topbar {
  display: flex;
  align-items: center;
  margin-left: 8px;
  justify-content: space-between;
}

div.logo {
    display: flex;
}

div.logo p {
  font-family: 'Impact','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #FF8303;
}

div.logo :nth-child(2) {
  color: var(--text);
}

div.menubutton {
  color: white;
  margin-right: 8px;
  align-items: center;
  width: 48px;
  height: 48px;
  
}

span.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 100,
  'opsz' 48
}

div.headline :nth-child(1) {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 42px;
  color: var(--mark-text2);
  margin-left: 68px;
}

div.headline :nth-child(2) {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: var(--text);
  margin-left: 68px;
}

div.headline :nth-child(3) {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: var(--text);
  margin: 0 68px;
}